#Name your experiment here
EXPERIMENT_NAME: "test"

# NOTE: All paths are relative to the workflow directory (or --directory if specified)

# Path to raw ligand data | DATABASE/DATASET/file
# if you want to manually upload target pdb file upload these to in a subfolder of the input dir called "/PDB/receptor"

# Percentage of best results to be considered for display and re-screening (0<value<=1: percentage )
#TODO: change the wording
RESULT_NUMBER: "10"

# Specify cutoff value for rescreening (in kcal/mol)
CUTOFF_VALUE: "-8"

#Specify name for local uploaded data
#  NOTE: this will be ignored, if a 'DATABASE' (see below) is specified
LOC_DATA: ["DATASET"]

# Path to folder which contains compounds
#   Here, a full qualified path should be indicated.
#   NOTE: this will be ignored, if a 'DATABASE' (see above) is specified
LOCAL_INPUT_DIR: ""

# Specify "ZINC" to obtain compounds from the ZINC database.
# Otherwise read local input from the LOCAL_INPUT_DIR, above.
#TODO: unlist DATABASE
DATABASE: "ZINC"

# Specify a ZINC mirror site. Options are:
#   - files.docking.org
#   - ftp.uni-mainz.de/mirror/zink20/
#ZINC_MIRROR: "ftp.uni-mainz.de/mirror/zink20/"
ZINC_MIRROR: "files.docking.org"

# Select the part of the ZINC database for screening. This section follows the ZINC notation and is
# outlined, here:
#   - the 1st letter is the molecular weight bin - a measure of size - horizontal axis, 
#     left to right, as shown on the ZINC webpage. A: 200 D, B: 250, C:300, D: 325, E:350, F: 375
#   - the 2nd letter is the logP bin - a measure of polarity - vertical axis, top to bottom, 
#     as shown on the ZINC webpage.
#   - the 3rd letter defines reactivity : A=anodyne, B=Bother (e.g. chromophores),
#     C=clean (but pains ok), E=mild reactivity ok, G=reactive ok, I = hot chemistry ok
#   - the 4th letter notes purchasability: A and B = in stock, C = in stock via agent, 
#     D = make on demand, E = boutique (expensive), F=annotated (not for sale)
#   - the 5th letter defines pH range: R = ref (7.4), M = mid (near 7.4), L = low (around 6.4), 
#     H=high (around 8.4).
#   - the 6th and last dimension is net molecular charge. Here we follow the convention of InChIkeys.
#     Thus. N = neutral, M = minus 1, L = minus 2 (or greater). O = plus 1, P = plus 2 (or greater).

ZINC_INPUT:
  WEIGHT: ["B", "C"] #["C","D","E","F","G"]
  LOGP:  ["B", "C"] # ,"D","E","F","G", "H","I","J"]
  REACT: ["A"] #,"B"] # ,"C", "E", "G"]
  PURCHASE: ["B"] #, "B"] #, "C", "D", "E"]
  PH: ["M", "R"]
  CHARGE: ["P"] # ,"M","O","L","P"]

# In case you don't want to download tranches from ZINC based on the paramters given above, 
# a ZINC subset can be choosen. Otherwise set subset as TRANCHES.
SUBSET: "TRANCHES"

#Specify ENAMINE collection
ENAMINE_INPUT:
  - Advanced_Collection/200721_Enamine_advanced_collection_493968
  - Functional_Collection/200721_Enamine_functional_collection_55353
  - HTS_Collection/200721_Enamine_hts_collection_2115979
  - Premium_Collection/200721_Enamine_premium_collection_44685

ENAMINE_URL: http://www.enamine.net/files/Stock_Screening_Collections/

# Specify whether rescreening is desired ("TRUE" or "FALSE")
# Rescreening will be performed on the top results as specified by 'RESULT_NUMBER' and 'CUTOFF_VALUE'
# for the targets specified in 'RESCREENING_TARGETS', below.
RESCREENING: "FALSE"

# Specify target PDB ID and chains in this format: ["PDB_ID, <CHAIN_1> <CHAIN_2], e.g.:
TARGETS: ["7CWM, A B C"]

# to be specified, if 'RESCREENING' is desired (RESCREENING: "TRUE")
RESCREENING_TARGETS: ["6ACD, A B C", "6NB3, A B C", "7BNN, A B C"]

TARGET_URL: https://files.rcsb.org/download
GRID_DIR: "GRID"

# parameters for energy minimization
ENERGY_MIN_ALGORITHM: 'cg'
CONVERGENCE_CRITERIA: '1e-6'
STEPS: '2500'
FORCEFIELD: 'MMFF94'

#Env. Modules
OPENBABEL: "chem/OpenBabel/3.0.0-gompi-2019a-Python-3.7.4"
BIOPYTHON: "bio/Biopython/1.79-foss-2021a"
VINALC: "bio/VinaLC/1.3.0-gompi-2021b"
PYPLOT: "vis/matplotlib/3.4.2-foss-2021b"
PYTHON: "lang/Python/3.7.4-GCCcore-8.3.0"
VENN: "vis/matplotlib-venn/0.11.6-foss-2020b-Python-3.8.6"

